#gameConfigForm {
    width: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#gameConfigForm h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

#gameConfigForm label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    color: #333;
}

#gameConfigForm input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#gameConfigForm button {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#gameConfigForm button:hover {
    background-color: #0056b3;
}
